.custom-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-fetch {
    background-color: #0366d6;
    color: #ffffff;
    border: none;
}

.user-card {
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.repo-card {
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

#loader {
    text-align: center;
}

.spinner-border {
    color: #0366d6;
}
